<!DOCTYPE html>

<html>

	<head>
		<title>Welcome to MEAN Stack!</title>
		<script src="libs/angular/angular.js"></script>
	</head>

	<body>
		<div ng-app="MyApp">
			<script id="view-row" type="text/ng-template">
				{{color.name}}
				<button ng-click="editRow()">Edit</button>
			</script>
			<script id="edit-row" type="text/ng-template">
				<input ng-model="editColor.name">
				<button ng-click="saveRow()">Save</button>
				<button ng-click="cancelEditRow()">Cancel</button>
			</script>
			<div ng-controller="MyCtrl">
				<ul>
					<li ng-repeat-start="color in colors"
						ng-if="color.id !== editRowId" ng-include="'view-row'">
					</li>
					<li ng-repeat-end
						ng-if="color.id === editRowId" ng-include="'edit-row'">
					</li>
				</ul>
			</div>
		</div>

		<script>

			"use strict";

			angular.module("MyApp", [])
				.controller("MyCtrl", function($scope) {

					$scope.colors = [
						{ id: 1, name: "red" },
						{ id: 2, name: "green" },
						{ id: 3, name: "blue" },
						{ id: 4, name: "purple" }
					];

					$scope.editRow = function() {
						$scope.editRowId = 	this.color.id;
						$scope.editColor = angular.extend({}, this.color);
						console.dir(this);
					};

					$scope.saveRow = function() {
						$scope.editRowId = 	-1;
						angular.extend(this.color, $scope.editColor);
					}

					$scope.cancelEditRow = function() {
						$scope.editRowId = -1;
					}


				});

		</script>
	</body>

</html>
