<!DOCTYPE html>

<html>

	<head>
		<title>Welcome to MEAN Stack Class!</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="libs/angular/angular.js"></script>
	</head>

	<body>
		<div ng-app="MyApp">
			<div ng-controller="MyCtrl">
				<input ng-model="message"> <button ng-click="sendMessage()">Send</button>
			</div>
		</div>

		<script>

			angular.module("MyApp", [])
				.factory("echo", function() {

					var socket = io("http://localhost:8080");

					return {
						send: function(msg) {
							socket.emit("echo", msg);
						},
						on: function(echoHandlerFn) {
							socket.on("echo", echoHandlerFn);
						}
					}
				})
				.controller("MyCtrl", function($scope, echo) {

					// echo.on(function(msg) {
					// 	console.log(msg);
					// });
					//
					// $scope.sendMessage = function() {
					// 	echo.send($scope.message);
					// };

 					$scope.sendMessage = function() {
						echo($scope.message).then(function(result) {
							console.log(result);
						});
					};

				});

		</script>
	</body>

</html>
